<div class="section" id="education">
  <div class="container">
    <!-- <div class="card">
      <div class="card-body"> -->
    <div class="h2 title text-center">Education</div>
    <div>
      <ul class="ul-edu fa-ul">
        <li>
          <img
            class="fa-li icon edu-img"
            src="assets/images/graduation-cap.png"
          />
          <div class="description">
            <p class="course">
              PhD, Computer Science & Engineering, Spring 2021 - Present
            </p>
            <p class="institution">University of Nevada, Reno</p>
          </div>
        </li>
        <li>
          <img
            class="fa-li icon edu-img"
            src="assets/images/graduation-cap.png"
          />
          <div class="description">
            <p class="course">
              MS, Computer Science & Engineering, 2018 - 2019
            </p>
            <p class="institution">Jahangirnagar University, Bangladesh</p>
          </div>
        </li>
        <li>
          <img
            class="fa-li icon edu-img"
            src="assets/images/graduation-cap.png"
          />
          <div class="description">
            <p class="course">
              BS, Computer Science & Engineering, 2013 - 2018
            </p>
            <p class="institution">Jahangirnagar University, Bangladesh</p>
          </div>
        </li>
      </ul>
      <!-- </div>
      </div> -->
    </div>
  </div>
</div>
