<div class="section" id="profiles">
  <div class="container back-color-alter cc-education">
    <div class="h2 title text-center">Online Profiles</div>
    <div class="row">
      <!-- <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <a
                class="cc-linkedin btn btn-link stretched-link"
                href="https://www.linkedin.com/in/monikrishnaroy"
                target="_blank"
              >
                <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i>
              </a>
              <h5 class="card-title">LinkedIn</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <a
                class="cc-github btn btn-link stretched-link"
                href="https://github.com/moni-roy"
                target="_blank"
              >
                <i class="fa fa-github-square fa-4x" aria-hidden="true"></i>
              </a>
              <h5 class="card-title">Github</h5>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img class="cf-img" src="https://icpc.global/favicon.ico" />
              <a
                class="stretched-link"
                href="https://icpc.global/ICPCID/4LHC4GX786G6"
                target="_blank"
              >
              </a>
              <h5 class="card-title">ICPCID</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <a
                class="btn btn-link stretched-link"
                href="https://stackoverflow.com/users/4023717/krishna"
                target="_blank"
              >
                <i class="fa fa-stack-overflow fa-4x" aria-hidden="true"></i>
              </a>
              <h6 class="card-title">StackOverflow</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img
                class="cf-img"
                src="http://sta.codeforces.com/s/25229/favicon-96x96.png"
              />
              <a
                class="stretched-link"
                href="https://codeforces.com/profile/MRoy"
                target="_blank"
              >
              </a>
              <h5 class="card-title">CodeForces</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img class="cf-img" src="assets/images/codechef.svg" />
              <a
                class="stretched-link"
                href="https://www.codechef.com/users/mroy"
                target="_blank"
              >
              </a>
              <h5 class="card-title">CodeChef</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img class="cf-img" src="assets/images/topcoder.svg" />
              <a
                class="stretched-link"
                href="https://www.topcoder.com/members/M.Roy"
                target="_blank"
              >
              </a>
              <h5 class="card-title">TopCoder</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img class="cf-img" src="assets/images/hackerrank.svg" />
              <a
                class="stretched-link"
                href="https://www.hackerrank.com/hmroy"
                target="_blank"
              >
              </a>
              <h5 class="card-title">HackerRank</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img class="cf-img" src="assets/images/hackerearth.svg" />
              <a
                class="stretched-link"
                href="https://www.hackerearth.com/@krishna-roy"
                target="_blank"
              >
              </a>
              <h5 class="card-title">HackerEarth</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img
                class="cf-img"
                src="https://assets.leetcode.com/static_assets/public/icons/favicon-192x192.png"
              />
              <a
                class="stretched-link"
                href="https://leetcode.com/hmroy/"
                target="_blank"
              >
              </a>
              <h5 class="card-title">LeetCode</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img
                class="cf-img"
                src="https://stx1.spoj.com/gfx/favicon_new.png"
              />
              <a
                class="stretched-link"
                href="https://www.spoj.com/users/mroy/"
                target="_blank"
              >
              </a>
              <h5 class="card-title">SPOJ</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img
                class="cf-img"
                src="https://uhunt.onlinejudge.org/images/uva.png"
              />
              <a
                class="stretched-link"
                href="https://uhunt.onlinejudge.org/id/244956"
                target="_blank"
              >
              </a>
              <h5 class="card-title">uHunt</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img
                class="cf-img"
                src="https://img.atcoder.jp/assets/atcoder.png"
              />
              <a
                class="stretched-link"
                href="https://atcoder.jp/users/MRoy"
                target="_blank"
              >
              </a>
              <h5 class="card-title">AtCoder</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <img
                class="cf-img"
                src="https://www.stopstalk.com/stopstalk/static/images/fav_assets/android-icon-192x192.png"
              />
              <a
                class="stretched-link"
                href="https://www.stopstalk.com/user/profile/MRoy"
                target="_blank"
              >
              </a>
              <h5 class="card-title">StopStalk</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
