<div class="section" id="experiences">
  <div class="container experiences cc-education">
    <div class="h2 title text-center">Experiences</div>
    <div>
      <ul class="ul-work fa-ul">
        <li>
          <img class="fa-li icon work-img" src="assets/images/work.svg" />
          <div class="description">
            <p class="course">
              Software Engineer, Jun 2022 - Present
            </p>
            <p class="institution">Google LLC</p>
            <ul>
              <li>
                Working on YouTube Music, a music streaming service.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <img class="fa-li icon work-img" src="assets/images/work.svg" />
          <div class="description">
            <p class="course">
              Graduate Research Assistant, January 2021 - May 2022
            </p>
            <p class="institution">University of Nevada, Reno</p>
            <ul>
              <li>
                Worked on machine learning-related research projects in the
                bioinformatics field. Focusing on clustering and disease
                subtyping.
              </li>
              <li>
                Developed web applications to manage big data and analyze
                various machine learning methods.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <img class="fa-li icon work-img" src="assets/images/work.svg" />
          <div class="description">
            <p class="course">Software Engineer, Apr 2019 - Jan 2021</p>
            <p class="institution">Samsung R&D Institute Bangladesh (SRBD)</p>
            <ul>
              <li>
                Developed web applications using Angular & Spring Boot as a Full
                Stack Developer.
              </li>
              <li>
                Involved in development, testing, continuous integration and
                improvement of applications.
              </li>
              <li>Worked on B2B projects to provide various solutions.</li>
            </ul>
          </div>
        </li>
        <li>
          <img class="fa-li icon work-img" src="assets/images/work.svg" />
          <div class="description">
            <p class="course">
              Exchange Student, Information Security Lab, Jul 2018 - Aug 2018
            </p>
            <p class="institution">Okayama University, Japan</p>
            <ul>
              <li>
                Worked on Elliptic Curve Cryptography under the supervision of
                Prof. Yasuyuki Nogami.
                <a href="https://isec.ec.okayama-u.ac.jp/home/news/4.html" class="icon" target="_blank">Reference
                  link</a>
              </li>
              <li>
                Tried to gain secret information from side channel attack for
                order 4 rational points of BLS-12 Curve.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <img class="fa-li icon work-img" src="assets/images/work.svg" />
          <div class="description">
            <p class="course">
              Technical Assistant, Computer Science & Engineering, Sep 2017 -
              Feb 2018
            </p>
            <p class="institution">Jahangirnagar University, Bangladesh</p>
            <ul>
              <li>
                Worked at computer laboratory to help students in lab-works and
                researches.
              </li>
              <li>
                Instructed students to use various technologies in laboratory as
                well as in research.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <img class="fa-li icon work-img" src="assets/images/work.svg" />
          <div class="description">
            <p class="course">
              Programming Instructor, Computer Science & Engineering, Jan 2016 -
              Dec 2018
            </p>
            <p class="institution">Jahangirnagar University, Bangladesh</p>
            <ul>
              <li>
                Trained students of Dept. of CSE for efficient problem solving
                using algorithms, data structures and programming languages.
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>