<div class="section" id="projects">
  <div class="container projects cc-education">
    <div class="h2 title text-center">Projects & Works</div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <h4 class="card-title">Personal Portfolio</h4>
              <h5 class="card-text">Angular</h5>
              <a
                href="https://github.com/moni-roy/moni-roy.github.io"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <h4 class="card-title">Automatic Image Stitching Tool</h4>
              <h5 class="card-text">Matlab</h5>
              <a
                href="https://github.com/moni-roy/Automatic-Image-Stitching-Using-Feature-Based-Method"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <h4 class="card-title">Registration Management</h4>
              <h5 class="card-text">Java</h5>
              <a
                href="https://github.com/moni-roy/Alumni-Reunion-Registration-Management"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <h4 class="card-title">Competitive Programming</h4>
              <h5 class="card-text">C, C++, Python</h5>
              <a
                href="https://github.com/moni-roy/Programming-codes-and-resources"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <h4 class="card-title">Learning Data Science (ML)</h4>
              <h5 class="card-text">Python</h5>
              <a
                href="https://github.com/moni-roy/100DaysOfMLCode"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="blog-entry">
          <div class="card card-bg">
            <div class="card-body text-center">
              <h4 class="card-title">Project Euler Solutions</h4>
              <h5 class="card-text">Python</h5>
              <a
                href="https://github.com/moni-roy/Project-Euler"
                class="btn btn-primary stretched-link"
                target="_blank"
                >Github Link</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
