<div class="section" id="programming">
  <div class="container">
    <!-- <div class="card">
      <div class="card-body"> -->
    <div class="h2 title text-center">Programming Experiences</div>

    <div class="h5 title">On-site Contests</div>
    <div>
      <ul>
        <li>
          <b>Champion</b>, ‘Inter Dept. Programming Contest 2017 (Victory Day JU
          CSE IDPC 2K17)’ organized by Jahangirnagar Univesity.
          <a
            href="https://toph.co/c/victory-day-ju-idpc-2017/standings"
            target="_blank"
            >Reference Link</a
          >
        </li>
        <li>
          <b>11th position</b>, ‘Cybernauts’16 National Programming Contest’
          organized by North South University.
          <a href="https://toph.co/c/cybernauts16/standings" target="_blank"
            >Reference Link</a
          >
        </li>
        <li>
          <b>16th position</b>, ‘IUT 5th National ICT Fest 2015 Programming
          Contest’ organized by Islamic University of Technology.
        </li>
        <li>
          <b>Participation</b>, ACM International Collegiate Programming Contest
          (ICPC), Dhaka Regional from 2014 to 2017.
          <a href="https://icpc.global/ICPCID/4LHC4GX786G6" target="_blank"
            >Reference Link</a
          >
        </li>
        <li>
          <b>Participation</b>, National Collegiate Programming Contest (NCPC),
          Bangladesh from 2014 to 2017.
          <a href="https://icpc.global/ICPCID/4LHC4GX786G6" target="_blank"
            >Reference Link</a
          >
        </li>
        <li>
          <b>Participation</b> 10+ National level on-site programming contests.
        </li>
      </ul>
    </div>
    <div class="h5 title">On-line Contests</div>
    <div>
      <ul>
        <li>
          Maximum rating obtained in TopCoder is 1273 (Handle:
          <a
            href="https://www.topcoder.com/members/M.Roy"
            class="icon"
            target="_blank"
            >M.Roy</a
          >)
        </li>
        <li>
          Maximum rating obtained in Codeforces is 1800 (Handle:
          <a
            href="https://codeforces.com/profile/MRoy"
            class="icon"
            target="_blank"
            >MRoy</a
          >)
        </li>
        <li>
          Maximum rating obtained in Codechef is 2102 (Handle:
          <a
            href="https://www.codechef.com/users/mroy"
            class="icon"
            target="_blank"
            >mroy</a
          >)
        </li>
        <li>
          Maximum rating obtained in HackerRank is 2066 (Handle:
          <a
            href="https://www.hackerrank.com/hmroy"
            class="icon"
            target="_blank"
            >hmroy</a
          >) Medal: 13 (Gold: 1, Silver: 2, Bronze: 10)
        </li>
        <li>
          Solved 1500+ problems in different on-line judges like- UVA, SPOJ,
          LightOJ, USACO, Codeforces, Codechef, Hackerrank etc.
        </li>
        <li>
          Participating in on-line contests held by Codeforces, Topcoder,
          Codechef, Google Code Jam, Facebook Hacker Cup, HackerRank,
          Hackerearth etc.
        </li>
      </ul>
    </div>
  </div>
  <!-- </div> -->
</div>
