<mat-toolbar color="primary">
    <img src="../assets/mn.jpg" style="height:80%">
    <a class="top-nav-link" routerLink="/home" routerLinkActive="top-link-active" mat-button>
        <h2>MRoy</h2>
    </a>
    <span class="nav-spacer"></span>
    <div>
        <a class="top-link-social" href="https://www.github.com/moni-roy" target="_blank" rel="noreferrer">Github</a>
        <a class="top-link-social" href="https://www.linkedin.com/in/monikrishnaroy" target="_blank" rel="noreferrer">LinkedIn</a>
        <a class="top-link social" href="/assets/moniResume.pdf" target="_blank" rel="noreferrer">
            <mat-icon>cloud_download</mat-icon> CV
        </a>
    </div>
</mat-toolbar>