<div class="section">
  <div class="container">
    <!-- <div class="d-flex justify-content-center"> -->
    <!-- <div class="card" data-aos="fade-up" data-aos-offset="20"> -->
    <!-- <div>
      <img class="main-img" src="{{ imageLink }}" alt="photo of MRoy" />
    </div> -->
    <div class="name-section">
      <h2 class="main-heading">Monikrishna Roy</h2>
      <h3 class="main-subheading">Software Engineer, Competitive Programmer</h3>
      <div class="main-heading">
        <a
          href="https://www.linkedin.com/in/monikrishnaroy/"
          class="icon"
          target="_blank"
        >
          <img src="/assets/images/icons8-linkedin.svg" alt="LinkedIn" />
        </a>
        <a href="https://www.github.com/moni-roy/" class="icon" target="_blank">
          <img src="/assets/images/icons8-github.svg" alt="Github" />
        </a>
        <a href="mailto:roy.moni.ju.cse@gmail.com" class="icon" target="_blank">
          <img src="/assets/images/email-black-48px.svg" alt="Email" />
        </a>
        <a href="/assets/moniResume.pdf" class="icon" target="_blank">
          <img
            src="/assets/images/cv.svg"
            style="width: 48px; height: 48px"
            alt="Resume"
          />
        </a>
      </div>
      <div class="main-subheading">
        <nav>
          <!-- <a routerLink="/about">About Me</a>
            <a routerLink="/education">Education</a> -->
          <!-- <a class="nav-link smooth-scroll" href="#about">About</a>
            <a class="nav-link smooth-scroll" href="#education">Education</a> -->
          <!-- <a routerLink="/projects">Projects</a> -->
          <!-- <a routerLink="/profiles">Profiles</a> -->
          <!-- <a routerLink="/contact">Contact</a> -->
          <!-- <a href="/assets/moniResume.pdf">Resume</a> -->
        </nav>
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>
