.home-container {
  background: #faf8f8;
  padding: 1%;
  margin-left: 11%;
  margin-right: 11%;
}

.main-img {
  width: 25%;
  height: auto;
  border-radius: 50%;
}

.main-heading {
  text-align: center;
  color: #0D47A1;
}

.main-subheading {
  text-align: center;
  color: rgb(28, 36, 46);
  font-size: 14px;
}