<div class="home-container">
    <div>
        <img class="main-img" src="https://avatars0.githubusercontent.com/u/6818564?v=4" alt="photo of MRoy">
        <h2 class="main-heading">Monikrishna Roy</h2>
        <h3 class="main-subheading">Software Engineer, Competitive Programmer</h3>
        <div class="main-subheading">
            <nav>
                <a routerLink="/education">Education</a>
                <a routerLink="/projects">Projects</a>
                <a routerLink="/profiles">Profiles</a>
                <a routerLink="/contact">Contact</a>
                <a href="/assets/moniResume.pdf">Resume</a>
            </nav>
        </div>
    </div>
</div>

<div class="about-para">
    <p>
        I am working as a Software Engineer at Samsung R&D Bangladesh Institute (SRBD). I completed my BSc (Hon's) and
        MS degree from the Department of CSE, Jahangirnagar University which is the only fully residential university
        and the most beautiful campus
        in our country.
    </p>
    <p>
        I worked as a Technical Assistant (TA) at Dept. of CSE, JU for six months and also trained students to solve
        problems efficiently using algorithms & data structures for three years. It was a great, exciting and
        challenging experience for me. I always
        enjoy and love to solve various problems using Algorithms & Data structures. I am participating in various
        programming contests since 2013.
    </p>
    <p>
        I am mainly interested in Big Data, Data Mining, Data Structures and Algorithm Analysis, Cryptography,
        Artificial Intelligence, and Computer Vision, Machine Learning, Security, and Privacy.
    </p>
</div>