<div class="section" id="about">
  <div class="container about">
    <div class="h2 title text-center">About</div>
    <p>
      I am working as a Software Engineer at Google. I completed my second MS in Computer Science from the University of
      Nevada, Reno. Prior that I completed my MS & BS degree from the Department of CSE, Jahangirnagar University which
      is the only fully residential university
      and the most beautiful campus in our country.
    </p>
    <p>
      I worked as a Technical Assistant (TA) at Dept. of CSE, JU for six months
      and also trained students to solve problems efficiently using algorithms &
      data structures for three years. It was a great, exciting and challenging
      experience for me. I always enjoy and love to solve various problems using
      Algorithms & Data structures. I am participating in various programming
      contests since 2013.
    </p>
    <p>
      I am mainly interested in Machine Learning, Natural Language Processing,
      Data Mining, Big Data, Artificial Intelligence, Bioinformatics.
    </p>
  </div>
</div>