<div class="page-size">
  <mat-card class="about-para">
    <p>
      I am working as a Software Engineer at Samsung R&D Bangladesh Institute
      (SRBD). I completed my MS & BS degree from the Department of
      CSE, Jahangirnagar University which is the only fully residential
      university and the most beautiful campus in our country.
    </p>
    <p>
      I worked as a Technical Assistant (TA) at Dept. of CSE, JU for six months
      and also trained students to solve problems efficiently using algorithms &
      data structures for three years. It was a great, exciting and challenging
      experience for me. I always enjoy and love to solve various problems using
      Algorithms & Data structures. I am participating in various programming
      contests since 2013.
    </p>
    <p>
      I am mainly interested in Machine Learning, Natural Language Processing, Data Mining, Big Data, Artificial Intelligence, Cyber Security.
    </p>
  </mat-card>
  <!-- <mat-card class="about-para">
    <mat-card-header>
      <mat-card-title>Contact Info</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="contact-info">
        <a href="mailto:roy.moni.ju.cse@gmail.com" class="icon" target="_blank">
          <img src="/assets/images/email-24px.svg" alt="Email" />
          roy.moni.ju.cse@gmail.com
        </a>
      </div>
    </mat-card-content>
  </mat-card> -->
</div>
<!-- <app-education></app-education> -->