.home-container {
    background: #A0c2ec;
    padding: 1%;
}

.main-img {
    display: block;
    text-align: center;
    width: 15%;
    height: auto;
    margin: 0 auto 8px;
    border-radius: 30%;
}

.main-heading {
    text-align: center;
    /* color: #0D47A1; */
}

.main-subheading {
    text-align: center;
    color: rgb(28, 36, 46);
    font-size: 14px;
}

.about-para {
    padding: 16px;
    padding-left: 11%;
    padding-right: 11%;
}
nav a {
  padding: 5px 10px;
  text-decoration: rgb(94, 72, 13); 
  margin-top: 10px;
  display: inline-block;
  background-color: #eeee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
